{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ application.name }}</h1>
        <div>
            <a href="{{ path('app_reinstall', {'coupon': application.coupon}) }}" class="btn-danger btn">Zresetuj
                aplikacje&nbsp;<i class="fas fa-power-off"></i></a>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert-success alert w-100">{{ message }}</div>
    {% endfor %}

    <div class="row justify-content-between">
        <div class="col-12">
            <span class="h4">Aktualizacja aplikacji</span>
            <div class="mt-3">
                <div class="mb-3">
                    <label>Nazwa konta</label>
                    <input type="email" class="form-control" disabled value="{{ app.user.userIdentifier }}">
                </div>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}