{% extends 'dashboard/base.html.twig' %}

{% block body %}

    <div class="table-responsive margin-bottom-2x">
        <table class="table margin-bottom-none">
            <thead>
            <tr>
                <th>Tytuł</th>
                <th>Typ</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.status }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="messages">
        <div class="comment">
            <div class="comment-body">
                <p class="comment-text">{{ ticket.description }}</p>
                <div class="comment-footer"><span class="comment-meta">{{ ticket.creator.username }}</span></div>
            </div>
        </div>

        {% for message in ticket.ticketMessages %}
            <div class="comment">
                <div class="comment-body">
                    <p class="comment-text">{{ message.message }}</p>
                    <div class="comment-footer"><span class="comment-meta">{{ message.creator.username }}</span></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="w-100">
            <div class="d-flex justify-content-between pb-3"><h1>Wiadomość</h1></div>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

