{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="w-75">
            <div class="d-flex justify-content-between pb-3">
                <h1>Instalator Gamesites</h1>
                <!-- {% if server.wasInstallerRun == false %}<h1>3/3</h1>{% endif %} -->
            </div>
            <button id="btnInstaller" type="button" class="btn-success btn" data-bs-toggle="modal" data-bs-target="#modal">
                {{ server.wasInstallerRun ? 'Zainstaluj ponownie': 'Rozpocznij instalacje' }}
            </button>
            <div id="installer" class="d-none mt-5">
                <span id="tokenInstaller" class="d-none">{{ server.coupon }}</span>
                <h2 id="titleInstaller" class="h3">Rozpoczynanie instalacji ...</h2>
                <div class="progress">
                    <div id="progressInstaller" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">5%
                    </div>
                </div>
            </div>

            <div id="installerError" class="d-none mt-5">
                <h2>Bład instalacji</h2>
                <div class="error">
                    <p>Error Code: <span id="errorCode"></span></p>
                    <p>Error Message: <span id="errorMessage"></span></p>
                    <p>Spróbuj ponownie. Jeżeli problem będzie się powtarzał skontaktuj się z administratorem</p>
                    <a href="{{ path('app_server') }}">Lista aplikacji</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Czy na pewno?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Czy aby na pewno
                    chcesz {{ server.wasInstallerRun ? 'zainstalować serwer z podanymi danymi?': 'ponownie uruchomić instalacje?' }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary" id="runInstaller" data-bs-dismiss="modal">Uruchom
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('installer') }}
{% endblock %}