<section class="container-fluid" id="offer">
    <div class="row text-black d-flex justify-content-center align-items-center flex-column gap-5">
        <h1 class="text-center">Zobacz naszą <span class="text-pink">ofertę</span></h1>

        <div class="row d-flex offer justify-content-center gap-4">
            <div class="top-left-radius position-relative d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('images/icons/shape-gift.png') }}" class="mb-5">
                <span class="offer-title">Roczna</span>
                <span class="offer-price">180 <span class="unit">PLN</span></span>
                <a href="{{ dc }}"><h2 class="text-pink mt-5">Odkryj więcej <i class="fa fa-arrow-right"></i></h2></a>
            </div>
            <div class="middle-bg position-relative d-flex flex-column">
                <div class="middle-soft"></div>
                <div class="middle-content d-flex flex-column justify-content-center align-items-center">
                    <img src="{{ asset('images/icons/shape-crown.png') }}" class="mb-5">
                    <span class="offer-title">Dożywotnia</span>
                    <span class="offer-price">300 <span class="unit">PLN</span></span>
                    <a href="{{ dc }}"><h2 class="mt-5">Odkryj więcej <i class="fa fa-arrow-right"></i></h2></a>
                </div>
            </div>
            <div class="top-right-radius position-relative flex-column d-flex justify-content-center align-items-center">
                <img src="{{ asset('images/icons/shape-star.png') }}" class="mb-5">
                <span class="offer-title">Kwartalna</span>
                <span class="offer-price">100 <span class="unit">PLN</span></span>
                <a href="{{ dc }}"><h2 class="text-pink mt-5">Odkryj więcej <i class="fa fa-arrow-right"></i></h2></a>
            </div>
        </div>
    </div>
    <div class="container mt-4 d-lg-block d-none">
        <div class="row d-flex justify-content-center" style="margin: 0 37px;">
            <div class="down-bg col-12">
                <div class="down-soft"></div>
                <div class="row down-content d-flex align-items-center">
                    <div class="text-white col-8 d-none d-md-flex flex-column">
                        <span class="offer-title">Nie jesteś pewny?</span>
                        <span class="offer-desc">Oferta miesięczna</span>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-center">
                        <span class="offer-price">100 <span class="unit">PLN</span></span>
                        <a href="{{ dc }}"><h2 class="text-pink">Odkryj więcej <i class="fa fa-arrow-right"></i></h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center w-100 mt-4">Brakuje ci indywidualnego wyglądu strony? <a href="{{ dc }}" class="text-pink">Napisz do nas</a></h2>
</section>