<section id="payment" class="text-center pt-5">
    <h1>Operatorzy płatności</h1>

    <div class="container">
        <div class="row">
            <div class="payment">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="{{ asset('images/payment/cashbill.png') }}" style="width: 220px;"/>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="{{ asset('images/payment/hotpay.png') }}" style="width: 250px;"/>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="{{ asset('images/payment/tpay.png') }}" style="height: 80px;"/>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="{{ asset('images/payment/microsms.png') }}" style="width: 240px; margin-top: -30px"/>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="{{ asset('images/payment/paysafecard.png') }}" style="width: 270px;"/>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="{{ asset('images/payment/paypal.png') }}" style="width: 220px;"/>
                </div>
            </div>
        </div>
    </div>
</section>